
<%# binding.pry %>

<%# raise @posts.inspect %>
<h1> Here Are All Requested Posts! </h1>

<% @posts.each do |post| %>
<%# raise @posts.first.users.inspect %>

Post Title: <%= link_to post.title, post_path(post) %><br>
Post Content: <%= post.content %><br>
Post ID: <%= post.id %><br>

  <% if post.comments.count > 0 %>
    <% post.comments.each do |comment| %>
    Comment Title: <%= link_to comment.title, comment_path(comment) %>
    <% end %>
  <% end %>

<%#= User.find(post.user_id) %><br><br>


<% end  %>
